html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  letter-spacing: .5px;
  background-color: #f0f0f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 0px auto;
  /*align-items: center;*/
  flex-direction: column;
  padding-top: 20px;
}

.app-title {
  width: 100%;
  text-align: left;
  margin: 12px 0px;
  color: #bc3b28;
  font-size: 28px;
}

.app-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.app-new-voice-btn:hover {
  background-color: #ea9215;
}

.app-tag-switch {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  list-style: none;
  flex: 1;
  padding: 0px;
  margin: 0px;
}

.app-tag {
  display: block;
  margin-right: 14px;
  padding-bottom: 4px;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.app-tag.active {
  border-bottom-color: #bc3b28;
}

.app-tag:hover {
  border-bottom-color: #bc3b28;
}