html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  letter-spacing: .5px;
  background-color: #f0f0f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app-header {
 /*background-color: #FFDD67;*/
 min-height: 100px;
}
.mdl-layout__tab-bar {
  background-color: rgba(0, 0, 0, 0.08);
}
.app-nav {
  text-transform: uppercase;
}
.app-main {
  max-width: 900px;
  margin: auto;
}
.app-like-icon {

}
.app-like-count {
  color: #37c700;
}