.app-form {
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 24px 0px;
} 

.form-input {
  flex: 1;
  width: 400px;
  margin: 12px 0px;
  padding: 12px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  border: 1px solid transparent;
}

.form-input:focus {
  box-shadow: 0 0 4px rgba(0, 0, 100, .3);
  border: 1px solid #ea9215;
}

.form-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-action {
  flex: 1;
  width: 120px;
  height: 30px;
  text-align: center;
  outline: none;
  border: none; 
  margin: 0px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #ddd;
  /*padding: 10px 24px;*/
}
.form-action:hover {
  opacity: .8;
}